[kojira]
server={{ koji_hub_url }}
topdir={{ koji_mount }}
logfile=/var/log/kojira.log
;with_src=no
serverca = {{ koji_hub_ca }}
;authtype = kerberos
principal = {{ koji_kojira_principal }}
keytab = {{ koji_kojira_keytab }}
ignore_tags = module-*-build
debug = false
check_external_repos = true
dist_repo_lifetime = 7257600
