[hub]

## ConfigParser style config file, similar to ini files
## http://docs.python.org/library/configparser.html
##
## Note that multiline values can be set by indenting subsequent lines
## (which means you should not indent regular lines)

## Basic options ##
DBName = {{ koji_db_name }}
DBUser = {{ koji_db_user }}
DBHost = {{ koji_db_host }}
DBPass = {{ koji_db_pass }}
KojiDir = {{ koji_mount }}

AuthPrincipal = {{ koji_hub_principal }}
AuthKeytab = {{ koji_hub_keytab }}
ProxyPrincipals = {{ koji_hub_proxy_principals }}
HostPrincipalFormat = {{ koji_hub_principal_format }}

##  Other options  ##
LoginCreatesUser = On
KojiWebURL = {{ koji_web_url }}

# The domain name that will be appended to Koji usernames
# when creating email notifications
#EmailDomain = rockylinux.org
# whether to send the task owner and package owner email or not on success.  this still goes to watchers
NotifyOnSuccess = True
## Disables all notifications
# DisableNotifications = False
DisableNotifications = True

## Extended features
## Support Maven builds
# EnableMaven = False
## Support Windows builds
# EnableWin = False

## Koji hub plugins
## The path where plugins are found
# PluginPath = /usr/lib/koji-hub-plugins
## A space-separated list of plugins to load
# Plugins = echo
{% if koji_hub_plugins %}
Plugins = {% for plugin in koji_hub_plugins_list + koji_hub_noconfig_plugins_list %}{{ plugin }} {% endfor %}
{% endif %}

## If KojiDebug is on, the hub will be /very/ verbose and will report exception
## details to clients for anticipated errors (i.e. koji's own exceptions --
## subclasses of koji.GenericError).
# KojiDebug = On

## Determines how much detail about exceptions is reported to the client (via faults)
## Meaningful values:
##   normal - a basic traceback (format_exception)
##   extended - an extended traceback (format_exc_plus)
##   anything else - no traceback, just the error message
## The extended traceback is intended for debugging only and should NOT be
## used in production, since it may contain sensitive information.
# KojiTraceback = normal

## These options are intended for planned outages
# ServerOffline = False
# OfflineMessage = temporary outage
# LockOut = False
## If ServerOffline is True, the server will always report a ServerOffline fault (with
## OfflineMessage as the fault string).
## If LockOut is True, the server will report a ServerOffline fault for all non-admin
## requests.

[policy]
tag =
    is_draft :: deny
    has_perm secureboot && package kernel shim grub2 pesign fwupd fwupd-efi :: allow
    all :: allow

channel =
    source */kernel* && has_perm secureboot :: use secureboot
    source */shim* && has_perm secureboot :: use secureboot
    source */grub2* && has_perm secureboot :: use secureboot
    source */fwupdate* && has_perm secureboot :: use secureboot
    source */fwupd* && has_perm secureboot :: use secureboot
    source */fwupd-efi* && has_perm secureboot :: use secureboot

package_list =
    match action remove :: deny
    has_perm admin :: allow

build_from_srpm =
      tag * :: allow
      has_perm admin :: allow
      has_perm build :: allow
      all :: deny

build_from_scm =
    match scm_host git.rockylinux.org :: {
        bool scratch :: allow rockyget
        match scm_repository /staging/rpms/* :: allow rockyget
        match scm_repository /staging/modules/* :: allow rockyget
        match scm_repository /staging/src/* :: allow rockyget
        match scm_repository /rpms/* :: allow rockyget
        match scm_repository /src-rpms/* :: allow rockyget
        match scm_repository /src/* :: allow rockyget
        match scm_repository /modules/* :: allow rockyget
        match scm_repository /src-modules/* :: allow rockyget
    }
    all :: deny

scm =
    bool scratch :: allow
    match_all branches * !! deny Commit must be present on a branch
    all :: allow
